
<html>
    <head>
        <link rel="stylesheet" href="../front-dev/assets/css/style.css">
    </head>
    <body>
    
    <div id="origamid">        
        {{ nome }}
    </div>

    <div id="app1">        
        {{ ferramenta }}
    </div>
    
    <div id="app2">        
        {{ instrumento }}
    </div>

    <div id="quadrado">
        {{ lado * 4 }}
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../front-dev/assets/js/main.js"></script>
    </body>
</html>